[Desktop Entry]
Name=Kader
Comment=Modern photo gallery
Exec=kader %U
Icon=kader
Type=Application
Categories=Graphics;Photography;
MimeType=image/jpeg;image/png;image/webp;image/gif;image/tiff;image/heif;image/avif;video/mp4;video/webm;video/quicktime;
Keywords=photos;gallery;images;pictures;
StartupNotify=true
StartupWMClass=kader
